Is it mandatory having two public IPs?

Hi Yutaka,

I'm using a MCU to establish WebRTC connections between clients. The server is publicly available to the clients. The question is in a direct connection between client and server (no NAT or firewall) do I still need two IP addresses on the server?


@mkhahani  are you on what?
I'm on windows 7 32bit, in the .ini file I wrote only one, the primary part of 127.0.0.1 and node-stun-client with no -s 127.0.0.1 works like a charm also without internet access.
And with the -s 127.0.0.1 string stuff with no lucky.
And as server with in ini file with defined secondary field the programm crashed with error that the port 38 in use.

Apropos, what s kind of uri address have this stun server on a local home-in machiene? stun:127.0.0.1:3333 ?

This STUN server is based on the old STUN protocol spec: [RFC 3489](https://www.ietf.org/rfc/rfc3489.txt), which requires two IP addresses to ascertain type of NAT.

I am aware the most recent STUN [RFC 5389](https://tools.ietf.org/html/rfc5389) dropped the requirement of the secondary address, and NAT discovery part went into a separate (optional) document, [RFC 5780](https://tools.ietf.org/html/rfc5780).

So, I am sorry you guys, this code implements basic feature of RFC 3489 (particularly helpful for NAT behavior discovery), and currently has no plan to implement RFC 5389, which would be more suitable for WebRTC, etc.